body {
    background: url('/Projetos_bootstrap/Projeto09/img/bg.jpg');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(38, 35, 35, 0.15);
        backdrop-filter: blur(15px);
    }
}